@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/rubik-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v20-latin-500.woff2") format("woff2"),
    url("../fonts/rubik-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v20-latin-700.woff2") format("woff2"),
    url("../fonts/rubik-v20-latin-700.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400px;
  font-size: 15px;
}

.container {
  max-width: 1150px;
  margin: 0;
  padding: 0;
}

.visuall-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  margin-left: 150px;
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.header-content-logo {
  margin-left: 60px;
}

.header-logo {
  width: 26px;
  height: 57px;
}

.header-content {
  display: flex;
}

.header-list {
  display: flex;
  list-style-type: none;
}

.header-item {
  margin-left: 35px;
}

.header-link {
  text-decoration: none;
  color: gray;
}

.header-form {
  display: flex;
  margin-bottom: 14px;
}

.header-input {
  margin-left: 35px;
  border: none;
  border-bottom: 1.4px solid gray;
  outline: none;
}

/* hero-corps */

.hero {
  display: flex;
  width: 1440px;
  height: 548px;
  background-image: url(../img/watches.jpg);
  background-size: 600px 550px;
  background-repeat: no-repeat;
  background-position-x: 1100px;
  background-position-y: -0px;
  border-bottom: 1px solid rgba(131, 128, 128, 0.541);
}

.hero-content {
  width: 470px;
  margin-top: 60px;
  margin-left: 230px;
}

.hero-heading {
  font-size: 40px;
  font-weight: 600;
  line-height: 3;
  color: #010101;
}

.hero-text {
  display: flex;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  margin-left: 32px;
  margin-bottom: 50px;
  color: gray;
}

.hero-text::before {
  content: "";
  position: relative;
  left: -35px;
  top: 5px;
  width: 9.5px;
  height: 112px;
  background: gray;
}

.hero-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: rgb(202, 83, 39);
  color: white;
}


/* main-select */

/* info-corps */

.info {
  display: flex;
  margin-left: 105px;
}

.info-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.info-item {
  width: 300px;
  margin-left: 85px;
}

.info-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 80px;
  color: #010101;
}

.info-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  color: #010101;
}

.info-span {
  font-size: 45px;
  font-weight: 400;
  color: gray;
}

.info-link {
  display: flex;
  margin-left: 12px;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(202, 83, 39);
}

.info-link::before {
  content: "";
  position: relative;
  top: 6px;
  right: 12px;
  width: 35px;
  height: 2px;
  background: rgb(202, 83, 39);
}

/* sport-corps */

.sport {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.sport-content {
  width: 390px;
  margin-left: 240px;
  margin-top: 120px;
}

.sport-heading {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  color: #010101;
}

.sport-text {
  display: flex;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-left: 32px;
  margin-top: 60px;
  margin-bottom: 50px;
  color: gray;
}

.sport-text::before {
  content: "";
  position: relative;
  top: 3px;
  right: 30px;
  width: 8px;
  height: 95px;
  background: gray;
}

.sport-button {
  font-weight: 500;
  padding: 15px 25px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgb(202, 83, 39);
}

.sport-img {
  width: 490px;
  height: 670px;
  position: absolute;
  left: 800px;
}

.site-footer {
  width: 1440px;
  height: 744px;
  margin-top: 170px;
  margin-right: 0px;
  padding-top: 200px;
  padding-left: 780px;
  background-image: url(../img/runners.jpg);
  background-size: 1440px 744px;
  background-repeat: no-repeat;
}

.site-footer-content {
  width: 460px;
}

.site-footer-heading {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  color: white;
}

.site-footer-text {
  display: flex;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 37px;
  margin-top: 50px;
  color: white;
}

.site-footer-text::before {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  right: 35px;
  width: 8px;
  height: 110px;
  background: white;
}

.site-footer-button {
  font-size: 15px;
  font-weight: 500;
  margin-top: 30px;
  padding: 12px 25px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgb(202, 83, 39);
}
